
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Liste des contacts</h1>

                {#
                    app : variable globale donnat accès à des informations de l'application
                    flashes(clé) : raccourci pour accéder aux messages flash de la session
                #}

                {% for value in app.flashes('notice') %}
                    <p class="alert alert-success">{{ value }}</p>
                {% endfor %}

                <p>
                    <a href="{{ url('contact.form') }}" class="btn btn-info">Ajouter</a>
                </p>
                <table class="table table-striped">
                    <tr>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Email</td>
                        <td>Message</td>
                        <th>Loisirs</th>
                        <td>Message</td>
                        <th>Loisirs</th>
                        <th></th>
                        <th></th>
                    </tr>

                    {% for value in results %}

                    <tr>
                        <td>{{ value.lastname }}</td>
                        <td>{{ value.firstname }}</td>
                        <td>{{ value.email }}</td>
                        <td>{{ value.message }}</td>
                        <td>{% for hobby in value.hobbies  %}
                            {{ hobby.name }}
                        {% endfor %}
                        </td>
                        <td>
                            {# to many renvoi un objet
                            {% if value.operatingSytem is defined %}
                                {{ value.operatingSystem.name }}
                             {% else %}
                                <p class="alert alert-danger">Inconnu</p>
                            {% endif %} #}
                            {{ value.operatingSystem.name is defined ? value.operatingSystem }}
                        </td>
                        <td>
                            <a href="{{ url('contact.update', { 'id' : value.id }) }}" class="btn btn-warning">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ url('contact.delete', { 'id' : value.id }) }}" class="btn btn-warning">Supprimer</a>
                        </td>
                    </tr>

                    {% endfor %}

                </table>
            </div>

        </div>
    </div>
{% endblock %}

