{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-home"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1> {{ results.categorie }}</h1>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <div class="row">
            {% for value in results.livres %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src={{ value.image }} alt="cover" class="img-fluid" />
                        <div class="caption">
                            <h3>{{ value.livres }}</h3>
                            <p>{{ value.auteur }}</p>
                            <p><a href="{{ url('bookstore.details', { 'slug' : value.slug } ) }}" class="btn btn-primary">Details</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
             </div>
        </div>
    </div>

</div>
{% endblock %}